<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navigation" class="navbar">
    <article class="logo-article">
        <a class="logo-title" href="/">Melomy</a>
    </article>
    <ul class="navbar-list">
        <th:block sec:authorize="!isAuthenticated()">
            <div class="unauthenticated">
                <li class="navbar-list-item">
                    <a href="/about">About</a>
                </li>
                <li class="navbar-list-item">
                    <a class="sign-up-btn" href="/users/sign-up">Sign up</a>
                </li>
                <li class="navbar-list-item">
                    <a class="login-btn" href="/users/login">Log in</a>
                </li>
            </div>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <div class="authenticated">
                <li sec:authorize="hasRole('ADMIN')" class="navbar-list-item">
                    <a href="/admin" class="sign-out-btn">Admin</a>
                </li>
                <li class="navbar-list-item">
                    <a href="/" class="sign-out-btn">Explore</a>
                </li>
                <li class="navbar-list-item">
                    <p sec:authentication="name" class="username">Username</p>
                </li>
                <li class="navbar-list-item">
                    <form th:action="@{/users/logout}" th:method="POST" id="logout-form">
                        <input type="submit"  value="Sign out" class="sign-out-btn">
                    </form>
                </li>
            </div>
        </th:block>
    </ul>
</nav>

<footer th:fragment="footer">
    <h1>Melomy</h1>
    <article class="footer-info">

        <ul class="footer-list">
            <li class="footer-list-item">
                <h4>COMPANY</h4>
            </li>
            <li class="footer-list-item">
                <a href="/about">About</a>
            </li>
            <li class="footer-list-item">
                <a href="#">Support</a>
            </li>
            <li class="footer-list-item">
                <a href="#">Contact us</a>
            </li>
        </ul>
        <ul class="footer-list">
            <li class="footer-list-item">
                <h4>COMMUNITY</h4>
            </li>
            <li class="footer-list-item">
                <a href="/artists/search">Artists</a>
            </li>
            <li class="footer-list-item">
                <a href="/albums/search">Albums</a>
            </li>
            <li class="footer-list-item">
                <a href="/songs/search">Songs</a>
            </li>
        </ul>
    </article>
    <article class="social-and-copyright">
        <ul class="social-media-list">
            <li class="social-media-item">
                <a href="/"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="social-media-item">
                <a href="/"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="social-media-item">
                <a href="/"><i class="fab fa-twitter"></i></a>
            </li>
        </ul>
        <p>&copy; 2021 Melomy</p>
        <p>Developed by Stefan Shivarov</p>
    </article>
</footer>

</body>
</html>