<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melomy - Add Song</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <nav th:replace="fragments/commons::navigation"></nav>
    <main class="admin-main">
        <article class="add-article">
            <section class="add-left-col">
                <img src="/images/orange-purple-landscape.jpg" alt="Add Song">
            </section>
            <section class="add-right-col">
                <h2>Add Song</h2>
                <form th:action="@{/admin/songs/add}" th:method="POST" th:object="${songAddBindingModel}">
                    <div class="form-row">
                        <label for="name">Name *</label>
                        <input th:field="*{name}" type="text" name="name" id="name" placeholder="Enter song name">
                        <p th:if="${#fields.hasErrors('name')}" class="error-message">
                            Name cannot be empty.
                        </p>
                    </div>
                    <div class="form-row">
                        <label for="songUrl">Song URL *</label>
                        <input th:field="*{songUrl}" type="text" name="songUrl" id="songUrl" placeholder="Enter song URL">
                        <p th:if="${#fields.hasErrors('songUrl')}" class="error-message">
                            Song URL cannot be empty.
                        </p>
                    </div>
                    <div class="form-row">
                        <label for="album">Album</label>
                        <select th:field="*{albumId}" onfocus="this.size=3" onblur='this.size=1;' onchange='this.size=1; this.blur();' name="album" id="album">
                            <option value="" selected>---</option>
                            <option th:each="album:${allAlbums}" th:value="${album.id}" th:text="${album.name}">Option 1</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <input type="submit" value="Add Song">
                    </div>
                </form>
            </section>
        </article>
    </main>
</body>
</html>