<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melomy</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
<nav th:replace="fragments/commons::navigation"></nav>
<main class="album-main-wrapper">
        <article class="album-article">
            <section class="album-info">
                <div class="album-image-container">
                    <img class="album-image" src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg" alt="Album Cover">
                </div>
                <div class="album-description">
                    <h1>Definitely Maybe</h1>
                    <h3>Album • Oasis</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore hic necessitatibus aliquid
                        debitis fugit! Voluptatibus eveniet animi neque perspiciatis modi, amet hic soluta tempore,
                        fugit libero, consequatur voluptate repellat?</p>
                </div>
            </section>
            <section class="album-songs">
                <ul>
                    <li>
                        <a href="">Song 1</a>
                    </li>
                    <li>
                        <a href="">Song 1</a>
                    </li>
                    <li>
                        <a href="">Song 1</a>
                    </li>
                    <li>
                        <a href="">Song 1</a>
                    </li>
                </ul>
            </section>
        </article>
    </main>
    <!-- <footer>
        <h1>Melomy</h1>
        <article class="footer-info">

            <ul class="footer-list">
                <li class="footer-list-item">
                    <h4>COMPANY</h4>
                </li>
                <li class="footer-list-item">
                    <a href="#">About</a>
                </li>
                <li class="footer-list-item">
                    <a href="#">Support</a>
                </li>
                <li class="footer-list-item">
                    <a href="#">Contact us</a>
                </li>
            </ul>
            <ul class="footer-list">
                <li class="footer-list-item">
                    <h4>COMMUNITY</h4>
                </li>
                <li class="footer-list-item">
                    <a href="#">Artists</a>
                </li>
                <li class="footer-list-item">
                    <a href="#">Genres</a>
                </li>
            </ul>
        </article>
        <article class="social-and-copyright">
            <ul class="social-media-list">
                <li class="social-media-item">
                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="social-media-item">
                    <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="social-media-item">
                    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
            <p>&copy; 2021 Melomy</p>
        </article>
    </footer> -->
</body>

</html>