<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melomy</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
<nav th:replace="fragments/commons::navigation"></nav>
<main th:object="${artistViewModel}" class="dashboard-wrapper">

        <article class="artist-info">
            <section class="artist-description">
                <h1 th:text="*{name}">Oasis</h1>
                <h3 th:text="*{genre}">Rock</h3>
                <p th:text="*{description}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quam deleniti voluptates non provident
                    tenetur maxime, vel eaque recusandae molestiae, ratione iusto hic, qui deserunt veritatis neque ipsa
                    quibusdam nesciunt possimus asperiores. Consequuntur alias, animi illum culpa quae veritatis dolorem
                    cum placeat saepe voluptate, aspernatur minima excepturi laborum cumque tenetur!</p>
            </section>
            <section class="artist-image-cover">
                <img th:src="*{imageUrl}" alt="Artist Image">
            </section>
            <form th:action="@{/artists/{id}/delete(id=*{id})}" sec:authorize="hasRole('ADMIN')" th:method="DELETE" id="deleteSongForm" >
                <input id="deleteSongBtn" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this song?')">
            </form>
        </article>


        <article class="dashboard-article">
            <h3>Albums</h3>
            <div th:object="${albums}" class="songs">
                <div th:each="album:${albums}" class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" th:href="@{'/albums/'+${album.id}+'/details'}">
                            <img
                                th:src="${album.imageUrl}"
                                alt="Album cover"></a>
                    </div>
                    <h4 th:text="${album.name}" class="song-title">Live Forever</h4>
                    <p th:text="'Album • '+${album.year}" class="song-artist-desc">year</p>
                </div>

            </div>
        </article>
    </main>
<!--    <footer>-->
<!--        <h1>Melomy</h1>-->
<!--        <article class="footer-info">-->

<!--            <ul class="footer-list">-->
<!--                <li class="footer-list-item">-->
<!--                    <h4>COMPANY</h4>-->
<!--                </li>-->
<!--                <li class="footer-list-item">-->
<!--                    <a href="#">About</a>-->
<!--                </li>-->
<!--                <li class="footer-list-item">-->
<!--                    <a href="#">Support</a>-->
<!--                </li>-->
<!--                <li class="footer-list-item">-->
<!--                    <a href="#">Contact us</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <ul class="footer-list">-->
<!--                <li class="footer-list-item">-->
<!--                    <h4>COMMUNITY</h4>-->
<!--                </li>-->
<!--                <li class="footer-list-item">-->
<!--                    <a href="#">Artists</a>-->
<!--                </li>-->
<!--                <li class="footer-list-item">-->
<!--                    <a href="#">Genres</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </article>-->
<!--        <article class="social-and-copyright">-->
<!--            <ul class="social-media-list">-->
<!--                <li class="social-media-item">-->
<!--                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>-->
<!--                </li>-->
<!--                <li class="social-media-item">-->
<!--                    <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>-->
<!--                </li>-->
<!--                <li class="social-media-item">-->
<!--                    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <p>&copy; 2021 Melomy</p>-->
<!--        </article>-->
<!--    </footer>-->
</body>

</html>