<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melomy - Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
<nav th:replace="fragments/commons::navigation"></nav>
<main class="dashboard-wrapper">
        <article class="dashboard-article">
            <h3>Recommended for you</h3>
            <div class="songs">
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
            </div>
        </article>
        <article class="dashboard-article">
            <h3>Your favourite songs</h3>
            <div class="songs">
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
                <div class="song-panel">
                    <div class="image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://upload.wikimedia.org/wikipedia/en/d/d4/OasisDefinitelyMaybealbumcover.jpg"
                                alt="Name of song"></a>
                    </div>
                    <h4 class="song-title">Live Forever</h4>
                    <p class="song-artist-desc">Song • Oasis</p>
                </div>
            </div>
        </article>
        <article class="dashboard-article">
            <h3>Your favourite artists</h3>
            <div class="songs">
                <div class="song-panel">
                    <div class="artist-image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://pbs.twimg.com/profile_images/1301547933901492224/vKqQPboZ_400x400.jpg"
                                alt="Name of artist"></a>
                    </div>
                    <h4 class="song-title">Oasis</h4>
                    <p class="song-artist-desc">2.8M Followers</p>
                </div>
                <div class="song-panel">
                    <div class="artist-image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://pbs.twimg.com/profile_images/1301547933901492224/vKqQPboZ_400x400.jpg"
                                alt="Name of artist"></a>
                    </div>
                    <h4 class="song-title">Oasis</h4>
                    <p class="song-artist-desc">2.8M Followers</p>
                </div>
                <div class="song-panel">
                    <div class="artist-image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://pbs.twimg.com/profile_images/1301547933901492224/vKqQPboZ_400x400.jpg"
                                alt="Name of artist"></a>
                    </div>
                    <h4 class="song-title">Oasis</h4>
                    <p class="song-artist-desc">2.8M Followers</p>
                </div>
                <div class="song-panel">
                    <div class="artist-image-container">
                        <a class="music-icon" href="https://www.youtube.com"><img
                                src="https://pbs.twimg.com/profile_images/1301547933901492224/vKqQPboZ_400x400.jpg"
                                alt="Name of artist"></a>
                    </div>
                    <h4 class="song-title">Oasis</h4>
                    <p class="song-artist-desc">2.8M Followers</p>
                </div>
            </div>
        </article>
    </main>
<footer th:replace="fragments/commons::footer"></footer>
</body>

</html>