<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melomy</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <nav th:replace="fragments/commons::navigation"></nav>
    <main class="index-wrapper">
        <section class="landing-page-section">
            <h1>Melomy gives you the best type of melody.</h1>
            <h3>The sweetest music website on the internet. Totally free to use.</h3>
                <p><a href="/users/login">Log in</a> to listen to your favourite tunes.</p>
                <p>Don't have an account yet? <a href="/users/sign-up">Sign up</a> here now for free!</p>
        </section>
    </main>
    <footer th:replace="fragments/commons::footer"></footer>
</body>

</html>