<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melomy - Log in</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
<nav th:replace="fragments/commons::navigation"></nav>
    <main class="auth-main">

        <div class="log-in-wrapper">
            <section class="sign-up-section">
                <div class="sign-up-title">
                    <h1>Log in</h1>

                </div>
                <form th:action="@{/users/login}" th:method="POST" class="sign-up-form">

                    <p th:if="${badCredentials}" class="error-message">
                        Invalid username or password.
                    </p>

                    <div class="form-row">
                        <label for="username">Username</label>
                        <input th:value="${username}" type="text" name="username" id="username" placeholder="Enter your username">
                    </div>

                    <div class="form-row">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter your password">
                    </div>

                    <div class="form-row">
                        <input type="submit" id="submitSignUp" value="Log in">
                    </div>
                </form>
                <h4>Don't have an account yet? Create one <a href="/users/sign-up">here</a>.</h4>
            </section>
            <section class="mouse-image-section">
                <img src="/images/melomy_space-01.jpg" alt="Login image">
            </section>
        </div>
    </main>
<footer th:replace="fragments/commons::footer"></footer>
</body>

</html>