<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melomy - Search artists</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <nav th:replace="fragments/commons::navigation"></nav>
    <main class="endless">
        <article class="search-article">
            <section class="search-form">
                <h2>Search by username</h2>
                <form th:action="@{/admin/users/manage}" th:method="POST">
                    <input type="text" name="input" id="input" placeholder="Search by username">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </section>
            <section class="search-results">
                <div th:if="${user.username != #authentication.name}" th:each="user:${searchResults}" class="user-panel">
                    <a th:text="${user.username}">Username</a>
                    <form th:if="${user.getRoles().size() == 1}" th:action="@{/admin/users/{id}/makeadmin(id=${user.id})}"
                        th:method="POST">
                        <input class="make-admin" type="submit" value="Make Admin">
                    </form>
                    <form th:href="@{/admin/users/{id}/delete(id=${user.id})}" th:method="DELETE">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </section>
        </article>
    </main>
</body>

</html>