<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melomy - Sign Up</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">


</head>

<body>
<nav th:replace="fragments/commons::navigation"></nav>
    <main class="auth-main">
        <section class="sign-up-section">
            <div class="sign-up-title">
                <h1>Sign up</h1>
                <h2>Create an account to listen to your favourite melodies for free!</h2>
            </div>
            <form th:action="@{/users/sign-up}" th:method="POST" th:object="${userModel}" class="sign-up-form">
                <div th:if="${badCredentials}" class="form-row">
                    <h2>Passwords don't match!</h2>
                </div>
                <div class="form-row">
                    <label for="fullName">Full Name *</label>
                    <input th:field="*{fullName}" th:errorclass="is-invalid" type="text" name="fullName" id="fullName" placeholder="Enter your full name">
                    <p th:if="${#fields.hasErrors('fullName')}" class="error-message">
                        Full name should be at least 3 symbols long.
                    </p>
                </div>
                <div class="form-row">
                    <label for="username">Username *</label>
                    <input th:field="*{username}" th:errorclass="is-invalid" type="text" name="username" id="username" placeholder="Enter your username">
                    <p th:if="${#fields.hasErrors('username')}" class="error-message">
                        Username is either already in use or not valid.
                    </p>
                </div>
                <div class="form-row">
                    <label for="email">Email Address *</label>
                    <input th:field="*{email}" th:errorclass="is-invalid" type="text" name="email" id="email" placeholder="Enter your email address">
                    <p th:if="${#fields.hasErrors('email')}" class="error-message">
                        Email must be valid.
                    </p>
                </div>
                <div class="form-row">
                    <label for="password">Password *</label>
                    <input th:field="*{password}" th:errorclass="is-invalid" type="password" name="password" id="password" placeholder="Enter your password">
                    <p th:if="${#fields.hasErrors('password')}" class="error-message">
                        Password must be at least 3 symbols.
                    </p>
                </div>
                <div class="form-row">
                    <label for="confirmPassword">Confirm your password *</label>
                    <input th:field="*{confirmPassword}" th:errorclass="is-invalid" type="password" name="confirmPassword" id="confirmPassword" placeholder="Enter your password again">
                    <p th:if="${#fields.hasErrors('confirmPassword')}" class="error-message">
                        Invalid confirm password.
                    </p>
                </div>

                <div class="form-row">
                    <input type="submit" id="submitSignUp" value="Sign up">
                </div>
            </form>
            <h4>Already have an account? Log in <a href="/users/login">here</a>.</h4>
        </section>

    </main>
<footer th:replace="fragments/commons::footer"></footer>
</body>

</html>